body {
  font-family: "Ralewey", sans-serif;
  font-size: 14px;
  color: #6c7279;
  background-color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ------ HEADER ------ */

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #515369;
  padding: 35px 0;
  align-items: center;
}

/* ------ NAVIGATION ------ */

.nav {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
}

.nav-link {
  color: #fff;
  margin-left: 50px;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.2s linear;
}

.nav-link:first-child {
  margin-left: 0;
}

.nav-link:hover {
  opacity: 1;
}

/* ------ INTRO ------ */

.intro {
  height: 750px;
  background: url("img/intro-bg.jpg") center no-repeat  / cover ;
}
