body {
  font-family: "Ralewey", sans-serif;
  font-size: 14px;
  color: #6c7279;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h3,
h2,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/* ------ HEADER ------ */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #515369;
  padding: 35px 0;
  align-items: center;
}

/* ------ NAVIGATION ------ */

.nav {
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
}

.nav-link {
  color: #fff;
  margin-left: 50px;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.2s linear;
}

.nav-link:first-child {
  margin-left: 0;
}

.nav-link:hover {
  opacity: 1;
}

/* ------ INTRO ------ */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  background: #31344e url("img/intro-bg.jpg") center no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.intro_inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.intro_title {
  margin: 0 0 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  line-height: 1.1;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.intro_subtitle {
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 50px;
}

/* ------ BUTTON ------ */
.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 14px 40px;

  border-radius: 2px;
  border: 0;
  cursor: pointer;

  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.1s linear;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #dd3434;
}

.btn--long {
  min-width: 280px;
}

/* ------ FEATURES ------ */
.features {
  display: flex;
  flex-wrap: wrap;
  margin: 95px 0;
}

.feature_item {
  width: 33.33333%;
  text-align: center;
  padding: 0 40px;
  margin: 25px 0;
}

.feature_icon {
  margin-bottom: 25px;
}

.feature_title {
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.feature_text {
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}

/* ------ WORKS ------ */
.works {
  display: flex;
  flex-wrap: wrap;
}

.work_item {
  width: 25%;
  position: relative;
  overflow: hidden;
  height: 350px;

  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.work_item:hover .work_content {
  opacity: 1;
}

.work_photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

.work_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: rgba(232, 69, 69, 0.9);
  opacity: 0;
  transition: opacity 0.2s linear;

  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.work_title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.work_text {
  font-size: 14px;
  color: #fff;
}

/* ------ TEAM ------ */
.team {
  margin: 100px 0 70px;
}

.team_inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team_item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team_photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team_name {
  margin-bottom: 8px;

  font-size: 22px;
  color: #2d3033;
}

.team_prof {
  margin-bottom: 15px;
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
}

.team_text {
  margin-bottom: 20px;
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}

/* ------ SOCIAL ------ */
.social {
  display: flex;
}

.social--footer {
  justify-content: center;
}

.social_item {
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  background-color: #fff;
  border: 1px solid #e8ecee;
  justify-content: center;
  align-items: center;

  transition: background 0.2s linear;
  transition: fill 0.2s linear;
}

.social_item:hover {
  background-color: #e8ecee;
}

.social_item:hover .social_icon {
  fill: #000;
}

.social--footer .social_item:hover {
  background-color: #fff;
}

.social--footer .social_item {
  background-color: transparent;
  border-width: 2px;
  border-color: #fff;
  border-radius: 2px;
}

.social_icon {
  fill: #c6cacc;
  display: block;
  height: 18px;
}

.social--footer .social_icon {
  fill: #fff;
}

/* ------ REVIEWS ------ */

.reviews {
  background-color: #53354a;
  overflow: hidden;
}

.reviews_item {
  display: flex;
  flex-wrap: wrap;
}

.reviews_photo {
  width: 50%;
  height: 500px;
  position: relative;
}

.reviews_img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;

  transform: translateY(-50%);
}

.reviews_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 80px;
}

.reviews_text {
  font-family: "Cardo", sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.reviews_author {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

/* ------ DOWNLOAD ------ */
.download {
  margin: 90px 0;
  text-align: center;
}

.download_title {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
  margin-bottom: 10px;
}

.download_text {
  font-size: 13px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* ------ FOOTER ------ */
.footer {
  background-color: #3a3e64;
}

.footer_inner {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 0;
}

.footer_block {
  width: 33.3333%;
  text-align: center;
}

.footer_title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.footer_address {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
  font-size: 14px;
  font-style: normal;
}

/* ------ COPYRIGHT ------ */

.copyright {
padding: 20px 0;
background-color: #313454;
}

.copyright_text{
  text-transform: auto;
  font-size: 14px;
  color: #808080;
  line-height: 1.5;
  text-align: center;
}

.copyright_text span{
  color: #fff;
}
